button {
    color: grey;
    text-decoration: none;
    display: inline-block;

}


.inactive{
    background-color: inherit;
}

.active-like{
    background-color: blue;
    color: white;
}

.active-dislike{
    background-color: red;
    color: white;
}

image{
    background-color: beige;
}