

.inactive{
    background-color: inherit;
    display: inline;
    height: 30px;
}

.active-like{
    background-color: blue;
    display: inline;
    color:white;
    height: 30px;
}

.active-dislike{
    background-color: red;
    height: 30px;
}
