

.inactive{
    background-color: inherit;
    display: inline;
    height: 30px;
}

.active-like{
    background-color: blue;
    border-radius: 2em;
    height: 35px;
}

.active-dislike{
    background-color: red;
    border-radius: 2em;
    height: 35px;
}
