
*{
  padding: auto;
}



.container-fluid{
  display: grid;
  grid-template-columns: auto;
  border-style: groove;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  
}

.row{
  background-color:honeydew;
  border: 1em;
}